body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #63cec2;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Universal Styles*/
h1, h2, h3, p, a {
	font-family: 'Open Sans', sans-serif;
	color: #f7f8f9;
	margin: 0;
}

h1, h2, h3, a {
	margin: 15px 0px;
}

h1 { text-transform: uppercase; }

p, li{
	font-size: 0.8em;
}

a:hover, button:hover {
	color: #63cec2;
}

/*Log In Form*/
.LogInForm {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: 400px;
	height: 300px;
	margin-top: 50px;

	background-color: rgba(67, 75, 89, 0.7);
	border-radius: 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	box-sizing: border-box;
 	width: 325px;
 	height: 35px;
 	border-style: none;
 	border-radius: 25px;

 	margin: 10px 0;
 	padding: 0 10px;
}

input::placeholder {
	color: #ccc;
}

button {
 	width: 325px;
 	height: 35px;
 	border-style: none;
 	border-radius: 25px;

 	margin: 10px 0;

 	background-color: #ccc;
 	color: #f7f8f9;
}


/*Display Profile*/

.ProfileContainer {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: 500px;
	height: 350px;
	margin-top: 50px;

	background-color: rgba(67, 75, 89, 0.7);
	border-radius: 15px;
};

img {
	margin-right: 20px;
}

li {
	list-style: none;
	color: #f7f8f9;
	margin-left: -10px;
}

.profile {
	display: flex;
	flex-direction: row;
	align-content: flex-start;

	margin: 20px 0;
}




